/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.simplebar-placeholder {
  display: none;
  height: 0 !important
}

.card-shadow-smooth {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}